@font-face {
  font-family: "Poppins Semibold";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

.view-container {
  width: 534px;
  height: 535px;

  //   background: #ffffff;
  //   box-shadow: 0px 4px 36px rgba(53, 54, 54, 0.09);
  border-radius: 13px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  row-gap: 15px;


  .google-logo{
    max-width: 300px;
    margin-bottom: 30px;
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    column-gap: 22px;

    .card {
      width: 245px;
      height: 142px;
      left: 218px;
      top: 47px;

      background: #e4eafb;
      border-radius: 13px;

      padding: 10px 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      font-family: "Poppins Semibold";
      color: #2169f5;

      .card-title {
        font-size: 14px;
        line-height: 21px;
      }

      .credits {
        font-size: 48px;
        line-height: 72px;
      }
    }
    .primary {
      background: #2169f5 !important;
      color: #ffffff !important;
    }
  }
}
.briefing-container {
  width: 512px;
  height: 340px;

  background: #ffffff;
  box-shadow: 0px 4px 36px rgba(53, 54, 54, 0.09);
  border-radius: 13px;
  padding: 16px;
  display: flex;
  flex-direction: column;

  .briefing-title {
    font-family: "Poppins Semibold";
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #343748;
  }
  .briefing {
    font-family: "Poppins Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #343748;
    margin-top: 24px;
  }
}
