.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;

  .home-wrapper {
    width: 566px;
    height: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
